@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Comfortaa&family=Slabo+27px&display=swap');



body {
  background-image: linear-gradient( 112.4deg,  rgba(169,28,115,1) 21.6%, rgba(219,112,54,1) 92.2% );
}


img {
  width: 200px;
}

.card > img {
  width: 100%;
  height: '18rem';
  object-fit: cover;
}

.cocktail-list, .search-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}



.newCocktail {
  justify-content: center;
}

h1, h2, h3 {
  font-family: 'Architects Daughter', cursive;
}

td, p {
  font-family: 'Comfortaa', cursive;
}

.main-list {
  margin-bottom: 50px;
}

/* --------------------- */
/* card styles */
/* -------------------------- */
.cocktail-list > div {
  margin: 5px;
  border-radius: 5px;
  border: 2px solid goldenrod;
}

.card-title {
  border-top: 2px solid goldenrod;
}

.card-text {
  border-bottom: 2px solid goldenrod;
}

table {
  border-top: 2px solid goldenrod;
  border-left: 2px solid goldenrod;
}

.is-alcoholic {
  margin-top: 15px;
  font-weight: 700;
}

.more-details-flex {
  display: flex;
  justify-content: center;
}

.more-details {
  width: 60%;
  margin-top: 15px;
}

.more-details:hover {
  cursor: pointer;
  box-shadow: 3px 3px gray;
}



/* ---------------------
        Search Form
------------------------*/
.header {
  display: flex;
  justify-content: center;
}

.search-form {
  display: flex;
  justify-content: center;
}

form, .search-form > form { 
  width: 25%;
  text-align: center;
  display: inline-block;
  padding: 10px;
  font-weight: 600;
}
.search-results > div {
  margin: 5px;
  border-radius: 5px;
  border: 2px solid goldenrod;
}

/* update form */
.update-form-flexbox, .create-form-flexbox {
  display: flex;
  justify-content: center;
}
.update-form-div > form, .create-form-div > form {
  width: 1000px;
}

/* footer */
.footer > h4 {
  background-color: rgb(50, 61, 73);
  color: lightsteelblue;
  width: 100%;
  font-size: 23px;
  text-align: center;
  padding: 5px;
}

.footer > img {
  margin-left: 45%;
}

